
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.university {
    text-align: center;
    padding: 40px 20px;
}

.university h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #444;
}

.activity h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
}


.button-activity {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.activity-button {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-button img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; /
}

.activity-button:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.activity-button span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #007BFF;
}
